@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-soft-pink text-text-dark font-sans overflow-x-hidden;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FFF0F5;
}

::-webkit-scrollbar-thumb {
    background: #E6B2C0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D898AA;
}